:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    display: flex;
    background: var(--body-bg-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
}

header {
    margin: 70px 30px;
}

header img {
    width: 380px;
}

.content {
    width: 50vw;
    background-color: var(--body-bg-color);
    z-index: 99;
    box-sizing: border-box;
}

main {
    width: 100%;
    padding: 2rem;
}

h2 {
    color: var(--title-color);
    margin-bottom: 1rem;
}

input {
    width: 100%;
    height: 40px;
    background: var(--text-color);
    border: none;
    border-left: solid 5px;
    border-left-color: var(--title-color);
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    padding-left: .5rem;
}

button {
    height: 40px;
    width: 40px;
    background: var(--bg-button-color);
    border: none;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
}

a {
    color: var(--bg-button-color);
}

.form {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 53vw;
}

.img {
    width: 50vw;
    z-index: 1;
    background-image: url('./assets/read_news.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%;
}

@media only screen and (max-width: 800px) {
    .content {
        width: 100vw;
    }
    .content header img {
        width: 80%;
    }
    .form {
        width: 100%;
    }
    .img {
        display: none;
    }
}